
.nav-container {
  width: 100%;
  height: 40%;
}
.nav-develops {
  width: 100%;
  height: 10%;
}
.nav-develops img {
  width: 100%;
  height: auto;
  max-height: 580px;
  object-fit: cover;
  object-position: center;
}

.gallery{
    text-align: center;
    align-items: center;
    padding:2%;
    
}
.gallery-content{
    text-align: center;
    padding: 3.5%;
    grid-template-columns: repeat(4fr ,2fr);
    gap: 20px;
}
.gallery-content h1{
    text-align: center;
    align-items: center;
    color: var(--text-color);
}
.gallery-content .images img{
    height: 150px;
    width: 150px;
    border-radius: 7px;
    margin-top:10px;
    align-items: center;
}

/*footer*/
.footer-container {
  cursor: pointer;
  align-items: center;
  padding: 3%;
  width: auto;
  height: auto;
  background-color: var(--bg-color);
}
.social {
  align-items: center;
  text-align: center;
  color: var(--text-color);
}
.social a {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 15px;
}
.copyright {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
}
.copyright p {
  align-items: center;
}

@media screen and (max-width:480px) {
    .gallery{
    text-align: center;
    align-items: center;
    padding:2%;
    
}
.gallery-content{
    text-align: center;
    padding: 3.5%;
    grid-template-columns: repeat(4fr ,2fr);
    gap: 20px;
}
.gallery-content h1{
    text-align: center;
    align-items: center;
    color: var(--text-color);
}
.gallery-content .images img{
    height: 150px;
    width: 150px;
    border-radius: 7px;
    margin-top:10px;
    align-items: center;
}

/*footer*/
.footer-container {
  cursor: pointer;
  align-items: center;
  padding: 3%;
  width: auto;
  height: auto;
  background-color: var(--bg-color);
}
.social {
  align-items: center;
  text-align: center;
  color: var(--text-color);
}
.social a {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 15px;
}
.copyright {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
}
.copyright p {
  align-items: center;
}
}