* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  font-family: "raleway", sans-serif;
}
body,
html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.contact-container{
  width: 100%;
  height: 120vh;
  margin: 4% 10%;
  display: flex;
}
.contact-area{
  background-color: rgb(75, 72, 72);
}
.contact-section{
  margin: 0rem 2rem;
  background-color: rgb(75, 72, 72);
}
.contact-right-sec{
  background-color: rgb(75, 72, 72);
}
.wrapper-con-sec h1{
  color: white;
  align-items: center;
  text-align: center;
  margin: 10px 4px;
}
.header-form{
  width: 600px;
  height: 80vh;
}
.input-box{
  width: 100%;
  display: flex;
  border: 2px solid azure;
}
.input-box i{
  align-items: center;
  margin: 2%;
  padding: 1px;
}
.form-details{
  display: grid;
}
.input-box input{
  margin: 5px;
  height: 2.5rem;
  width: 500px;
  background-color: rgb(75, 72, 72);
  color: cornsilk;
  border:none ;
}
.input-box input:hover{
  border: 1px solid transparent ;

}

.input-box textarea{
  margin: 5px;
  border: none;
  width: 500px;
  height: 40vh;
  background-color: rgb(75, 72, 72);
  color: cornsilk;
  font-size: 15px;
}
.discloser{
  width: 100%;
  padding: 2%;
}
.discloser input{
  align-items: center;
}
.discloser p{
  color: white;
  padding: 1rem 0rem;
}
.submit-btn{
  color: black;
  font-size: 20px;
  font-weight:800;
  height: 2.5rem;
  width: 400px;
  align-items: center;
  padding: 0% 5%;
  margin:0% 10% ;
}
/* right section */
.contact-left-sec{
  padding: 3% 25px;
}
.left-sec-header h1{
  align-items: center;
  text-align: center;
  padding: 0% 10rem;
  text-wrap: nowrap;
}
.left-sec-contact{
  padding:2rem 20px ;
}
.left-sec-contact h1{
  font-weight: 600;
}
.left-sec-contact p{
  text-align: left;
  line-height: 1.5rem;
}
.location-holder{
  padding:1rem 20px ;
}
.location-holder h1{
  align-items: center;
  font-weight: 600;
}
.location-holder p{
  align-items: center;
  list-style: none;
  line-height: 1.5rem;
}
.logo-holder{
  padding: 0.5rem 20px ;
}
.logo-holder h1{
  font-weight: 600;
}
.contact-social{
  padding:20px ;
  display: flex;
  gap: 20px;
}
.contact-icon--link {
  border: 1px solid black;
  border-radius: 50%;
}
.contact-icon--link a{
  color: teal;
  
}
@media screen and (max-width:1024px){
  .contact-container{
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .contact-area{
    align-items: center;
  }
  .contact-section{
    background-color:rgb(75, 72, 72) ;
    height: 135vh;
  }
  .contact-right-sec{
    width: 500px;
  }
  .wrapper-con-sec{
    height: 120vh;
  }
  .header-form{
    width: 300px;
  }
  .form-details{
    width: 400px;
  }
}
